body,html{
    background: #EDEFF0;
}

/*右部内容框*/



.formGroup{
    width: 80%;
    margin: 30px auto;
    font-size: 14px;
    color: #656E73;
    overflow: hidden;
}
.errorInput{
    display: block;
    height: 18px;
    width: 100%;
    clear: both;
}
.formGroup label{
    width: 60px;
    height: 40px;
    text-align: right;
    margin-right: 10px;
    float: left;
    line-height: 40px;
}

.textInput{
    float: left;
    height: 40px;
    width: 400px;
    padding-left: 15px;
    border: 1px solid #CCC;
    border-radius: 3px;
    line-height: 40px;
}

.radioInput{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
.radioInput input{
    margin-left: 2px;
}

.selectInput select{
    vertical-align: baseline;
    margin-top: 5px;
    width: 130px;
    height: 30px;
    border: 1px solid #D0D6D9;
}

.textareaInput{
    width: 396px;
    padding: 10px;
    resize: none;
    border: 1px solid #D0D6D9;
}
#submitBtn{
    width: 396px;
    margin-left: 134px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    background: #CCC;
}
#submitBtn.canSubmit{
    background: #39B94E;
    color: #FFF;
}
