

/*内容区域*/
.cinemaInformation{
    background: url(../../../image/backgroundImg.jpg) no-repeat;
    margin-bottom: 20px;
    padding: 20px 0;
}

.cinemaTitle{
    color: #FFF;
    font-size: 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 20px;
}


.rating{
    margin-left: 20px;
    color: #EB002A;
}

.poster{
    float: left;
    width: 300px;
}
.cinemaDetail{
    float: left;
    width: 400px;
    margin-left: 50px;
}
.cinemaDetail li{
    color: #F5F5F5;
    font-size: 16px;
    padding: 0 10px 20px;
}
.cinemaDetail li a{
    font-size: 14px;
    color: #EB002A;
}


/*TAB标签栏*/
.tabWrap{
    width: 100%;
}

.cinemaTab{
    background: #F9F9F9;
}

.cinemaTab ul{
    border-bottom: 1px solid #FF5B78;
}

.cinemaTab li{
    float: left;
    font-weight: 600;
}

.cinemaTab a{
    display: block;
    padding: 12px 30px;
}

.cinemaTab .currentTab{
    background: #EB002A;
    border: 1px solid #EB002A;
}

.cinemaTab .currentTab a{
    color: #FFF;
}

/*购买电影票部分*/


.chooseMovieTab{
    margin: 20px 0 0;
    background: #FFF6F5;
}
.chooseTitle{
    float: left;
    text-align: center;
    background: #FFDDDC;
    padding: 18px 20px;
    font-size: 12px;
    color: #666;
}
.chooseMovieTab .activeChoose{
    background: #EB002A;
    color: #FFF;
}

.chooseMovieTab a{
    float: left;
    font-size: 12px;
    margin: 13px 15px;
    padding: 5px 8px;
}

.chooseMovieTab a:hover{
    background: #EB002A;
    color: #FFF;
}
/*AJAX-电影票部分*/

.movieContent{
    border: 1px solid #EEE;
    padding: 18px   ;
}

.movieContent img{
    width: 120px;
    float: left;
}

.movieInformation{
    float: left;
    margin-left: 30px;
    width: 800px;
}
.movieTitle{
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
}
.movieTitle .movieName{
    color: #EB002A;
    font-size: 18px;
    font-weight: bold;
}
.movieInformation .rating{
    font-size: 14px;
}
.movieInformation li{
    font-size: 13px;
    margin: 4px 0;
    color: #333;
}
a.moreDetail{
    color: #EB002A;
    font-size: 12px;
    font-weight: normal;
}
a.moreDetail:hover{
    margin-right: -10px;
}
/*购票区域*/
/*购票头部*/
.ticketTable{
    width: 100%;
    margin-bottom: 20px;
}
.ticketTable thead td{
    background: #EAEAEA;
    text-align: center;
    padding: 10px 0;
    color: #333;
}
.thead-price{
    width: 300px;
}
.thead-buy{
    width: 180px;
}
/*购票tbody*/
tbody td{
    text-align: center;
    color: #888;
    padding: 8px 0;
}
tbody .thead-time{
    font-size: 18px;
    font-weight: bold;
}
tbody .thead-time p{
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
tbody .thead-price{
    color: #EB002A;
    font-size: 18px;
    font-weight: bold;
}
.originPrice{
    font-size: 14px;
    color: #777;
    text-decoration: line-through;
}

a.buyTicketBtn{
    background: #F42429;
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-weight: bold;
}
a.buyTicketBtn:hover{
    box-shadow: 0 0 10px #EB002A;
}

.tdBgColor{
    background: #F6F6F6;
}



