body,html{
    background: #EDEFF0;
}


.formGroup{
    width: 80%;
    margin: 8px auto 0;
    font-size: 14px;
    color: #656E73;
    overflow: hidden;
}
.formGroup label{
    width: 60px;
    height: 40px;
    text-align: right;
    margin-right: 10px;
    float: left;
    line-height: 40px;
}
label.errorInput,{
    line-height: 25px;
    display: block;
    height: 30px;
    width: 400px;
    clear: both;
    margin-left: 70px;
    text-align: left;
}
label.error{
    color: red;
    width: 400px;
    margin-left: 70px;
    text-align: left;
}
input.error{
    border: 1px solid red;
}
.passwordInput{
    float: left;
    height: 40px;
    width: 400px;
    border: 1px solid #CCC;
    border-radius: 3px;
    line-height: 40px;
    padding: 7px 7px 7px 48px;
    background: url("../image/register-sprite.png") no-repeat 7px -121px;
}

input.submitBtn{
    width: 396px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #39B94E;
    border: 1px solid #39B94E;
    color: #FFF;
    text-align: center;
    margin: 30px 0 200px 134px;

}

#dataResponse{
    color: #EB002A;
}