body,html{
    background: #EDEFF0;
    color: #666;
}
.prompt{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 3px;
}
.prompt .success{
    color: #3BBB3B;
    font-size: 44px;
}
.tips{
    margin: 18px 0 500px 0;
    padding: 30px;
    color: #999;
    text-align: center;
    border-bottom: 1px solid #DDD;
}