body,html{
    background: #EDEFF0;
}


.formGroup{
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
    color: #656E73;
    overflow: hidden;
}
.errorInput{
    display: block;
    height: 18px;
    width: 400px;
    clear: both;
    margin-left: 70px;
}
.formGroup label{
    width: 60px;
    height: 40px;
    text-align: right;
    margin-right: 10px;
    float: left;
    line-height: 40px;
}
.passwordInput{
    color: #999;
    float: left;
    height: 40px;
    width: 400px;
    border: 1px solid #CCC;
    border-radius: 3px;
    line-height: 40px;
    padding: 7px 7px 7px 48px;
    background: url("../image/register-sprite.png") no-repeat 7px -121px;
}

a.submitBtn{
    width: 396px;
    margin-left: 134px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #39B94E;
    color: #FFF;
    text-align: center;
    margin-bottom: 200px;
}

#dataResponse{
    color: #EB002A;
}