/*common*/
.content{
    width: 990px;
    margin: 0 auto;
    position: relative;
}

body,a,li{
    font-family: "微软雅黑";
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: #666;
}
/*账户信息*/

.loginRegister{
    font-size: 14px;
    position: absolute;
    right: 10%;
    background: #FF3558;
    color: #000;
    border-radius: 0px 0px 10px 10px;
    z-index: 9000;
}
.loginRegister a{
    color: #FFF;
    padding: 10px;
    line-height: 30px;
}


.loginRegister a:hover{
    color: #000;
}


/*header*/

.header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #EB002A;
    position: relative;
}

.logo{
    text-indent: -999px;
    display: block;
}
.logo a{
    float: left;
    height: 100px;
    width: 305px;
    background: url(../image/logo.png) no-repeat left center;
    display: inline;
}
/*导航栏*/
.nav {
    float: left;
    display: inline;
    margin-left: 120px;
    padding-top: 40px;
}

.nav li{
    float: left;
    margin-right: 45px;
}

.nav li:hover{
    border-bottom: 3px solid #EB002A;
}

.currentLi{
    border-bottom: 3px solid #EB002A;
}

.currentLi a{
    color: #EB002A;
}

.nav a{
    display: block;
    font-size: 20px;
    padding: 8px 20px;
}

.nav a:hover{
    color: #EB002A;
}

/*内容区域*/
.movieInformation{
    background: url(../image/backgroundImg.jpg) no-repeat;
    background-size: 1000%;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.movieTitle{
    color: #FFF;
    font-size: 20px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid #DFDFDF;
}


.rating{
    margin-left: 20px;
    color: #EB002A;
}

.poster{
    float: left;
}
.movieDetail{
    float: right;
    width: 720px;
}
.movieDetail li{
    color: #F5F5F5;
    font-size: 14px;
    padding: 0px 10px 20px;
}

.movieDetail .summary{
    margin-top: -10px;
    padding-top: 10px;
    border-top: 1px solid #DFDFDF;
}

.movieDetail a.summaryOpen{
    float: right;
    font-size: 14px;
    color: #EB002A;
}

/*TAB标签栏*/
.tabWrap{
    width: 700px;
	float: left;
}

.movieTab{
    background: #F9F9F9;
}

.movieTab ul{
    border: 1px solid #CCC;
    border-bottom: 1px solid #FF5B78;
}

.movieTab li{
    float: left;
    font-weight: 600;
}

.movieTab a{
    display: block;
	padding: 12px 30px;
}

.movieTab .currentTab{
    background: #EB002A;
    border: 1px solid #EB002A;
}

.movieTab .currentTab a{
    color: #FFF;
}

/*上映院线*/

.cinemaTab{
	border-bottom: 1px solid #BBB;
	padding: 10px 0px;
}
.cinemaContent .cinemaTab li{
    margin-top: 10px;
}

.cinemaTab .activeChoose{
    background: #FF356C;
    padding: 0px 3px;
    color: #FFF;
}

.cinemaTab a{
    font-size: 14px;
    margin-right: 5px;
}

.cinemaTab a:hover{
    color: #0066FF;
}
/*院线详情*/
.cinemaList li{
    padding: 30px 0px;
    overflow: hidden;
	color: #333;
	border-bottom: 1px solid #DFDFDF;
}
.cinemaList p{
    float: left;
}
.cinemaList p a{
	font-size: 20px;
	color: #333;
}
.cinemaList p a:hover{
	color: #000;
}
.cinemaList p span{
    display: block;
	margin-top:10px;
	font-size: 14px;
	color: #666;
}

.ticketPrice{
	font-size:18px;
    float: right;
	font-weight: 600;
}

.ticketPrice .originPrice{
	font-size: 16px;
	text-decoration: line-through;
	color: #999;
	font-weight: normal;
}

.ticketPrice .buyTicket{
	font-weight: normal;
	text-align:center;
	display:block;
	background: #EB002A;
	padding:8px;
	color:#FFF;
}
/*右边栏*/
.rightBar{
	float: right;
	color: #333;
}


.rightBarTab a{
	float: left;
	text-align: center;
	padding:10px 30px;;
	background: #F9F9F9;
	border: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
}

.rightBarTab .activeRightBarTab{
	background: #FFF;
	border: 1px solid #CCC;
	border-bottom: 1px solid #FFF;	
}
.rightBarMovieList{
	margin-top: 15px;
}

.rightBarMovieList li{
	padding: 10px 0px;
	border-bottom: 1px solid #CCC;	
}

.rightBarMovieList img{
	width: 100px;
	margin-right: 15px;
}

.rightBarInformation p{
	margin-top: 5px;
}
.rightBarInformation span{
	color: #FF3300;
}















/*页脚footer
.footer{
    width: 100%;
    height: 200px;
    background: #2b2b2b;
    border-top: 2px solid #d21438;
}
