

/*过渡小玩意儿*/
.hr{
    padding: 20px 0px;
    overflow: hidden;
}

.directory{
    float: left;
}
.directory a{
    font-size: 12px;
}
.directory a:hover{
    color: #EB002A;
}
.smallTips{
    float: right;
    font-size: 12px;
    color: #A2A2A2;
}

/*电影列表*/

.movieContent{
    overflow: hidden;
    padding: 0px 9px;
}

.movieList span.buyTicket:hover{
    box-shadow: 0px 0px 10px #FFF inset;
}

.details{
    overflow: hidden;
}

.movieTab{
    width: 630px;
    margin: 20px auto;
    height: 38px;
    border-bottom: 1px solid #DFDFDF;
    overflow: hidden;
}

.movieTab a{
    line-height: 50px;
    margin-right: 20px;
    color: #999;
}

.movieTab a:hover{
    color: #333;
}

.movieBox{
    border: 1px solid #DFDFDF;
    width: 670px;
}

a.currentTab{
    border-bottom: 3px solid #EB002A;
    color: #333;
}
/*电影图片模版*/
.movieList li{
    float: left;
    padding: 0px 35px;
    margin: 15px -20px 15px 0px;
}

.movieList a{
    display: block;
}

.movieList img{
    width: 160px;
    height: 225px;
}
.movieList .buyTicket{
    padding: 5px 0px;
    font-size: 14px;
    width: 160px;
    display: block;
    text-align: center;
    color: #FFF;
    background: #EB002A;
    height: 30px;
    line-height: 30px;
}


/*新闻栏目*/

.rightFixedBar{
    width: 277px;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    overflow: hidden;
    padding: 0px 20px;
}

.rightFixedBar h4{
    color: #333;
    margin: 16px auto;
    padding: 10px 0px 8px;
    border-bottom: 1px solid #DFDFDF;
}

a.more{
    color: #F2002A;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    display: inline;
    font-weight: normal;
}

a.more:hover{
    margin-right: 0px;
}
.rightFixedBar li{
    border-bottom: 1px dashed #DFDFDF;
    padding: 10px 0px;
}
.rightFixedBar ul a{
    font-size: 14px;
    color: #333;
}

.rightFixedBar ul a:hover{
    color: #EB002A;
}


/*页脚footer*/
.footer{
    width: 100%;
    height: 200px;
    background: #2b2b2b;
    border-top: 2px solid #d21438;
}