body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color: #2d374b;text-decoration:none; outline: none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{content: "";display: table;clear: both;}
.clearfix{*zoom: 1;}







/*通用样式*/

/*common*/
.content{
    width: 990px;
    margin: 0 auto;
    position: relative;
}

body,a,li{
    font-family: "微软雅黑";
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: #666;
}
/*账户信息*/
.loginRegister{
    font-size: 14px;
    position: absolute;
    right: 8%;
    z-index: 8000;
    height: 30px;
    line-height: 30px;
}
span.little{
    background: #FF6666;
    float: left;
}
a.topBarLeft, a.topBarRight{
    background: #FF6666;
    line-height: 30px;
    color: #FFF;
    text-align: center;
}
a.topBarLeft{
    float: left;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
}
a.topBarRight{
    float: left;
    border-bottom-right-radius: 10px;
    width: 70px;
}

.loginRegister a:hover{
    color: #333;
}
/*登陆后*/
a.loginLeft{
    display: block;
    *width: 75px;
    border: 1px solid #FF6666;
    padding: 0 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #FF6666;
    line-height: 30px;
    color: #FFF;
}

.loginLeft span{
    float: left;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userList{
    background: #F8F8F8;
    position: absolute;
    top: 30px;
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: none;
    z-index: 9999;
}
.userList li{
    position: relative;
    height: auto;
    display: inline;
}
.userList a{
    font-size: 12px;
    color: #999;
    display: block;
    padding: 3px 0;
    border-bottom: 1px solid #CCC;

}
a.activeLeftBar{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.icon{
    background: url("../image/icon_sprite.png") no-repeat top left;
    height: 15px;
    width: 15px;
    margin: 12px 0 0 8px;
    float: right;
}
.iconActive{
    background-position: top right;
}

/*header*/

.header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #999;
    position: relative;
    background: #FFF;
    z-index: 5000;
}

.logo{
    text-indent: -999px;
    display: block;
}
.logo a{
    float: left;
    height: 100px;
    width: 305px;
    background: url(../image/logo.png) no-repeat left center;
    display: inline;
}
/*定位*/
#mapLocation{
    width: 90px;
    height: 20px;
    margin: 50px 30px 0;
    float: left;
    font-size: 20px;
    cursor: pointer;
}
#mapLocation .icon{
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #000 transparent transparent ;
    margin-top: 10px;
    margin-left: -5px;
    line-height: 0;
    font-size: 0;
    *margin-top: -17px;
}

/*导航栏*/
.nav {
    float: left;
    display: inline;
    padding-top: 40px;
}

.nav li{
    float: left;
    margin-right: 45px;
}

.nav li:hover{
    border-bottom: 3px solid #EB002A;
}

.currentPage{
    border-bottom: 3px solid #EB002A;
}

.currentPage a{
    color: #EB002A;
}

.nav a{
    display: block;
    font-size: 20px;
    padding: 8px 20px;
}

.nav a:hover{
    color: #EB002A;
}
/*
*过渡条
*/
/*过渡*/
.hr{
    padding: 20px 0;
    overflow: hidden;
}

.directory{
    float: left;
}
.directory a{
    font-size: 14px;
    cursor: pointer;
}
.directory a:hover{
    color: #EB002A;
}
.smallTips{
    float: right;
    font-size: 12px;
    color: #A2A2A2;
}
/*回到顶部*/
.scrollUp_button{
    width: 64px;
    height: 64px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    text-indent: -9999px;
    background: url("../image/top.png") no-repeat 0 0;
    display: none;
}


/*个人设置页*/

.infoContent{
    margin: 20px auto;
}

/*左侧导航栏*/

.leftContent{
    background: #FFF;
    width: 270px;
    box-shadow: 0 3px 3px -1px #AAA;
}

.leftContent a{
    display: block;
    font-size: 14px;
    border-left: 2px solid #FFF;
    color: #000;
    text-indent: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
}

.leftContent a:hover{
    color: #EB002A;
}

.leftContent .activeLi{
    border-left: 2px solid #C9394A ;
}

/*右部内容框*/
.rightContent{
    width: 645px;
    padding: 20px 30px 50px;
    background: #FFF;
    box-shadow: 0 3px 3px -1px #AAA;
    position: relative;
}

.rightContent h2{
    color: #999;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 11px;
    border-bottom: 2px solid #f2f2f2;
    text-indent: 10px;
    margin-bottom: 30px;
}


/*脚部区域*/
.footer{
    width: 100%;
    height: 200px;
    background: #2b2b2b;
    border-top: 2px solid #d21438;
}