body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color: #2d374b;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content: "";display: table;clear: both;}
.clearfix{*zoom: 1;}







/*通用样式*/

/*common*/
.content{
    width: 990px;
    margin: 0 auto;
    position: relative;
}

body,a,li{
    font-family: "微软雅黑";
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: #666;
}
/*账户信息*/
/*未登录*/
.loginRegister{
    font-size: 14px;
    position: absolute;
    right: 10%;
    background: #FF6666;
    color: #000;
    border-radius: 0 0 10px 10px;
    z-index: 9000;
}
.loginRegister a{
    color: #FFF;
    padding: 10px;
    line-height: 30px;
}


.loginRegister a:hover{
    color: #333;
}
/*登陆后*/
.userList{
    background: #F8F8F8;
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 0 18px ;
    display: none;
}
.userList a{
    font-size: 14px;
    color: #999;
    display: block;
    padding: 3px 0;
    border-bottom: 1px solid #CCC;
}
.icon{
    background: url("../image/icon_sprite.png") no-repeat top left;
    height: 15px;
    width: 15px;
    float: right;
    margin: 12px 5px 0 -5px;
}
.iconActive{
    background-position: top right;
}

/*header*/

.header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #999;
    position: relative;
}

.logo{
    text-indent: -999px;
    display: block;
}
.logo a{
    float: left;
    height: 100px;
    width: 305px;
    background: url(../image/logo.png) no-repeat left center;
    display: inline;
}
/*导航栏*/
.nav {
    float: left;
    display: inline;
    margin-left: 120px;
    padding-top: 40px;
}

.nav li{
    float: left;
    margin-right: 45px;
}

.nav li:hover{
    border-bottom: 3px solid #EB002A;
}

.currentPage{
    border-bottom: 3px solid #EB002A;
}

.currentPage a{
    color: #EB002A;
}

.nav a{
    display: block;
    font-size: 20px;
    padding: 8px 20px;
}

.nav a:hover{
    color: #EB002A;
}