body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{color: #2d374b;text-decoration:none; outline: none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{content: "";display: table;clear: both;}
.clearfix{*zoom: 1;}







/*通用样式*/

/*common*/
.content{
    width: 990px;
    margin: 0 auto;
    position: relative;
}

body,a,li{
    font-family: "微软雅黑";
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
a:link,a:hover,a:active,a:visited{
    text-decoration: none;
    color: #666;
}
/*账户信息*/
.loginRegister{
    font-size: 14px;
    position: absolute;
    right: 10%;
    z-index: 9000;
    height: 30px;
    line-height: 30px;
}
span.little{
    background: #FF6666;
    float: left;
}
a.topBarLeft, a.topBarRight{
    background: #FF6666;
    line-height: 30px;
    color: #FFF;
    text-align: center;
}
a.topBarLeft{
    float: left;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
}
a.topBarRight{
    float: left;
    border-bottom-right-radius: 10px;
    width: 70px;
}
/*未登录*/

.loginRegister a:hover{
    color: #333;
}
/*登陆后*/
a.loginLeft{
    padding: 0 30px;
}
a.loginRight{
    padding: 0 10px;
}
.userList{
    background: #F8F8F8;
    position: absolute;
    right: 0;
    top: 30px;
    width: 70px;
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: none;
    padding: 0 10px;
}
.userList a{
    font-size: 12px;
    color: #999;
    display: block;
    padding: 3px 10px;
    border-bottom: 1px solid #CCC;
}
a.activeRightBar{
    border-bottom-right-radius: 0;
}
.icon{
    background: url("../image/icon_sprite.png") no-repeat top left;
    height: 15px;
    width: 15px;
    float: right;
    margin: 12px 0 0 0;
}
.iconActive{
    background-position: top right;
}

/*header*/

.header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #999;
    position: relative;
}

.logo{
    text-indent: -999px;
    display: block;
}
.logo a{
    float: left;
    height: 100px;
    width: 305px;
    background: url(../image/logo.png) no-repeat left center;
    display: inline;
}
/*导航栏*/
.nav {
    float: left;
    display: inline;
    margin-left: 120px;
    padding-top: 40px;
}

.nav li{
    float: left;
    margin-right: 45px;
}

.nav li:hover{
    border-bottom: 3px solid #EB002A;
}

.currentPage{
    border-bottom: 3px solid #EB002A;
}

.currentPage a{
    color: #EB002A;
}

.nav a{
    display: block;
    font-size: 20px;
    padding: 8px 20px;
}

.nav a:hover{
    color: #EB002A;
}
/*
*过渡条
*/
/*过渡*/
.hr{
    padding: 20px 0px;
    overflow: hidden;
}

.directory{
    float: left;
}
.directory a{
    font-size: 14px;
    cursor: pointer;
}
.directory a:hover{
    color: #EB002A;
}
.smallTips{
    float: right;
    font-size: 12px;
    color: #A2A2A2;
}
/*回到顶部*/
.scrollUp_button{
    width: 64px;
    height: 64px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    text-indent: -9999px;
    background: url("../image/top.png") no-repeat 0 0;
    display: none;
}