body,html{
    background: #EDEFF0;
}


.infoContent{
    margin: 20px auto;
}

/*左侧导航栏*/

.leftContent{
    background: #FFF;
    width: 270px;
    box-shadow: 0 3px 3px -1px #AAA;
}

.leftContent a{
    display: block;
    font-size: 14px;
    border-left: 2px solid #FFF;
    color: #000;
    text-indent: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
}

.leftContent a:hover{
    color: #EB002A;
}

.leftContent .activeLi{
    border-left: 2px solid #C9394A ;
}

/*右部内容框*/
.rightContent{
    width: 645px;
    padding: 30px;
    background: #FFF;
    box-shadow: 0 3px 3px -1px #AAA;
    position: relative;
}

.rightContent h2{
    text-align: center;
    margin-bottom: 30px;
}



a.uploadImg, a.selectImg{
    display: block;
    position: absolute;
    right: 60px;
    top: 370px;
    background: #363D40;
    width: 150px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #FFF;
}
a.selectImg{
    top:320px;
    background: #65AEDE;
}
#target{
    width: 400px;
    height: 550px;
    margin-bottom: 200px;
}
 #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 92px;
    right: 54px;
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
}


#preview-pane .preview-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.selectInput{
    position: absolute;
    right: 60px;
    top: 320px;
    width: 150px;
    border: 1px solid black;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}