body,html{
    background: #EDEFF0;
}


.infoContent{
    margin: 20px auto;
}

/*左侧导航栏*/

.leftContent{
    background: #FFF;
    width: 270px;
    box-shadow: 0 3px 3px -1px #AAA;
}

.leftContent a{
    display: block;
    font-size: 14px;
    border-left: 2px solid #FFF;
    color: #000;
    text-indent: 50px;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
}

.leftContent a:hover{
    color: #EB002A;
}

.leftContent .activeLi{
    border-left: 2px solid #C9394A ;
}

/*右部内容框*/




#imgContent{
    width: 420px;
    height: 320px;
    margin-bottom: 200px;
    border: 1px solid #999;
    float: left;
    background: #222;
}
#imgContent img{
    color: #f5f5f5;
    max-width: 420px;
    max-height: 320px;
}
.previewContent{
    margin-left: 50px;
    float: left;
    position: relative;

}
#preview{
    background: #222;
    height: 150px;
    width: 150px;
    border: 1px solid #999;
    overflow: hidden;
}
#preview img{
    color: #f5f5f5;
}
.tips{
    display: block;
    font-size: 12px;
    color: #666;
    text-align: center;
}

a.uploadImg, a.selectImg{

    display: block;
    background: #363D40;
    width: 150px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    margin-top: 10px;
}
a.selectImg{
    background: #65AEDE;
    margin-top: 63px;
}

.selectInput{
    position: absolute;
    right: 3px;
    bottom: 50px;
    width: 150px;
    border: 1px solid black;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
}